h1{ text-align:  center;}
td{height: 100px;
    width: 100px;
}

table{
    margin: 0 auto;
}

.vertical{ border-color: black;
    border-width: 0px 2px 0px 2px;
    border-style: solid
}

.horizontal{ border-color: black;
    border-width: 2px 0px 2px 0px;
    border-style: solid
}

.middle{ border-color: black;
    border-width: 2px 2px 2px 2px;
    border-style: solid
}