h2, h3, {
    text-align: center;
    margin: 5px;
    color: white;
}

.title{
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}

.rgbTitle{
    color: white;
    text-align: center;
    text-shadow: 
               8px 8px 27px rgba(50, 50, 250, 0.6);
}

.jumbotron{
    background-color: #0e8dbc;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
}
.controls{
    padding: 0;
    background-color: white;
}
body{
    background-color: slategray;
}

.options{
    width: 45%;
    display: inline-block;
}

.options p {text-align: center;
        display: inline-block;
        margin: 0 20px;
        color: #0e8dbc;
}

#hard{background-color: #0e8dbc;
    color: white;
}

#hard, #easy {
    padding: 0 10px;
    margin:0;
}

.squares{
    background-color: pink;
    padding-bottom:  30%;
    width: 30%;
    margin: 4% 1.66%;
    border-radius: 25px;
    display: inline;
    float: left;
   box-shadow: 10px 10px 28px -1px rgba(0,0,0,0.18);
    border: 1px solid black;
}

.container{ width: 600px;}